/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/*
grund: #FCFAF4
bakgrundsfärg ljus: #EAE7D2
mörka bakgrund för header: #51473D
meny: #797066
*/

body {
background-color:#FCFAF4;
font-family: Verdana;
font-size:0.9em;}

#container {
background-color:#51473D;
width:910px;
overflow: auto;
margin: 0 auto;
}

#topbar {
margin-top: 6px;    
font-size:0.8em;
color:#EAE7D2;
float:right;
}

/*background-image: url('https://c9.io/et222fj/uppgift-3-3/workspace/css/pics/coffey.jpg'); */ 


#menu > a {
display:none;
}


#menu { 
height: 35px;
}

#menu li a{
display: block;
font-family: Verdana;
color:#EAE7D2;
text-align: center;
font-size:0.8em;
text-transform: capitalize;
background-color: #797066;
padding: 10px 20px 10px 20px;
text-decoration: none;
border-left: #51473D solid 1.5px;

}


#menu li {
float:left;   
list-style-type: none;
}

#menu ul {
   font-weight: normal;
   text-align: center;
   float: left;
   margin:5px 30px 5px 30px;
   	height: 30px;
}

#menu .active a {
    color:#51473D;
    background-color:#EAE7D2;
}

/*----------------------------------------*/

#content


